.sticky{
  position: sticky !important;
  z-index: 999;
  background-color: #F5F5F5;
  top: 0;
  width: 100%;
  .navigation-body{
    min-height: 60px;
    .scroll-down{
      color:red;
    }
    h1{
      font-size: 36px;

    }

    .navigation-body__menu-mobile{
      position: absolute;
      top: 5vh;
      right: 8vw;
    }

    .none{
      display: none;
    }
  }


}
.navigation-body__menu-mobile-list{
  position: absolute;
  border: 1px solid #C4C4C4;
  top: 60px;
  right: 0;
  background-color: #F5F5F5;
  z-index: 999;
  ul{
    margin-left: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    li{display: block;
      margin-right: 0;
    }
  }
}
.navigation-body{
  position: relative;
  min-height: 160px;
  display: flex;

  &__header{
    width: 50%;
  }
  &__settings{
    width: 50%;
    ul{
      padding-inline-start: 0px;
    }
    li{
      display: inline;
      margin-right: 3vw;
      text-transform: uppercase;
      cursor: pointer;
      &:hover{
        color: #5A4FD7;
      }
      &:active{
        color: black;
      }
      img{
        display: inline;
        max-height: 10px;
      }
      span{
        font-size: 8px;
        vertical-align: 5px;
      }
    }
  }
  &__menu-up{
    width: 100%;
    border-bottom: 1px solid #C4C4C4;

  }
  &__menu-down{
    color: #565555;
    background-color: #F5F5F5;
    width: 100%;
    ul{

      display: flex;
      flex-wrap: wrap;
    }
    li{
      margin-right: 2vw;
      white-space: nowrap;
    }
  }
  &__menu-mobile{
    display: none;
  }

}

@media (max-width: 1300px){
  .navigation-body__header{
    h1{
      font-size: 36px;
      line-height: 44px;
    }
  }
}
@media (max-width: 960px){
  .sticky{
    //min-height: 120px!important;
    .navigation{
      min-height: 120px;
    }
    ul{
      width: 100%;
      background-color: #F5F5F5;

    }
  }
  .navigation-body{
    &__menu-up{
      display: none;
    }
    &__menu-mobile{
      display: flex;

      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      img{
        min-height: 16px;
        max-width: 20px;
      }
    }
    &__header{
      width: 90%;
    }
    &__settings{
      width: 10%;
    }
    &__menu-down{
      position: absolute;
      top: 50px;
      left: 0;
    }
  }

}
@media (max-width: 440px){
  .navigation-body{

    &__menu-down{
      top: 90px;
    }
  }
}
@media (max-width: 250px){
  .navigation-body{
    &__menu-mobile{
      position: absolute;
      top: 50px;
      right: 0px;
      img{
        min-height: 16px;
      }
    }
  }
}
.img-active{
  transform: rotate(180deg);
}
.active{
  color: #000;
}
